<div data-hook="admin_collection_form" class="align-center row">
  <div class="alpha eight columns">
    <%= f.field_container :name do %>
      <%= f.label :name, Spree.t(:name) %> <span class="required">*</span><br />
      <%= f.text_field :name, :class => 'fullwidth' %>
      <%= f.error_message_on :name %>
    <% end %>
  </div>
  <div class="eight columns omega">
    <%= f.field_container :slug do %>
      <%= f.label :slug, Spree.t(:slug) %> <span class="required">*</span><br />
      <%= f.text_field :slug, :class => 'fullwidth' %>
      <%= f.error_message_on :slug %>
    <% end %>
  </div>
</div>
